---
const { products } = Astro.props;
---
<ul>
  {products.map((product) => (
    <li key={product.id}>
      {product.name} - ${product.price}
      <button>Edit</button>
      <button>Delete</button>
    </li>
  ))}
</ul>
